<div class="privireAnsamblu">

  <div class="camera">
    
    <div class="incapere">
      <h4>Hol</h4>
    </div>

    <div class="functionalitate">

      <div class="alegereEtaj">
        <input id="etajInput" class="etajInput" placeholder="Etaj:">
        <label class="etajInput" for="">Lift A:{{liftAPos}}</label>
        <label class="etajInput" for="">Lift B:{{liftBPos}}</label>
      </div>

      <div class="usiLift">
        <div class="usaStanga"></div>
        <div class="usaDreapta"></div>
      </div>

      <div class="butoaneCamera">
        <button class="sus" (click)="callLift()">U</button>
        <button class="jos" (click)="callLift()">D</button>
      </div>

    </div>
  </div>

  <div class="lift">
    <div class="numeAfisor">

      <div class="incapere">
        <h4>Lift</h4>
      </div>

      <div class="afisorLift">
        <label for="" id="labelZero">P</label>
        <label for="" id="labelFirst">1</label>
        <label for="" id="labelSecond">2</label>
        <label for="" id="labelThird">3</label>
        <label for="" id="labelFourth">4</label>
        <label for="" id="labelFifth">5</label>
        <label for="" id="labelSixth">6</label>
      </div>

    </div>

    <div class="usiButoane">

      <div class="liftName">
        <label for="">Lift:{{liftToComeName}}</label>
       
      </div>

      <div class="usiLift">
        <div class="usaStanga"></div>
        <div class="usaDreapta"></div>
      </div>

      <div class="butoane">
        <button class="zero" (click)="goToZero()">P</button>
        <button class="first" (click)="goToFirst()">1</button>
        <button class="second" (click)="goToSecond()">2</button>
        <button class="third" (click)="goToThird()">3</button>
        <button class="fourth" (click)="goToFourth()">4</button>
        <button class="fifth" (click)="goToFifth()">5</button>
        <button class="sixh" (click)="goToSixth()">6</button>
      </div>

    </div>
  </div>


</div>